
body {    
    justify-content: space-between;
    gap: 60px 0 30px 0;
}

/* nav */
#about {
    color: var(--color-action);
}

#container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
}



#dest-title {
    color: var(--color-action);
}

.about-content h1 span {
    font-size: inherit;
}

#content {
    position: relative;
    padding-left: 20px;
    z-index: 2;

    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    box-shadow: 30px 0 20px rgba(0,0,0, 0.8);
}

#content h1 {
    margin-bottom: 6vw;
}

.about-content {
    padding-right: 10px;
}

.about-content > p {
    font-size: clamp(1rem, 4vw, 1.5rem);
    text-indent: 20px;
    text-align: justify;
    overflow-wrap: break-word;
    word-break: break-word;
}

#elements-content {
    margin-top: 5rem;
    display: flex;
    gap: 30px;
}

.destaque {
    font-size: clamp(1rem, 4vw, 1.8rem);
    color: var(--color-action);
}

aside {
    position: relative;
    padding: 10px;
}

aside > img {
    position: relative;
    z-index: 0;
    border-radius: 30px;

    transform: translate(-20%, 0) scale(1.2);
}

aside::before {
    content: '';
    position: absolute;

    width: 150px;
    height: 150px;

    border: 6px solid var(--color-action);
    border-bottom-right-radius: 50px;
    border-left: none;
    border-top: none;
}

@media (min-width: 1070px) {
    aside::after {
    content: '';
    position: absolute;
    width: 150px;
    height: 150px;

    border: 6px solid var(--color-action);

    border-top-right-radius: 50px;

    border-left: none;
    border-bottom: none;

    right: 20px;
    top: -80px;
    }

    aside::before {
        right: 20px;
        bottom: -75px;
    }

    
}

@media (max-width: 1070px) {
    #container {
        align-self: center;
        grid-template-columns: 1fr;
        margin: 20px 40px;
        position: relative;
    }

    #content {
        padding: 10px 20px;
        box-shadow: none;
    }
    
    #elements-content{
        justify-content: space-around;
    }
    
    aside {
        position: absolute;
        padding: 0;
        
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        object-fit: cover;
    }

    aside > img {
        width: 100%;
        height: 100%;
        transform: none;
        filter: opacity(0.5);
        box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
    }

    aside::after {
        content: '';
        position: absolute;

        width: 250px;
        height: 150px;

        border: 6px solid var(--color-action);
        border-top-left-radius: 50px;
        border-right: none;
        border-bottom: none;

        left: -20px;
        top: -20px;
    }

    aside::before {
        width: 250px;

        right: -20px;
        bottom: -20px;
    }

}

@media (max-width: 650px) {
    #about {
        display: none;
    }
}

@media (max-width: 550px) {
    aside {
        display: none;
    }
}

@media (max-width: 400px) {
    .about-content {
        padding: 0;
    }

    #container {
        margin: 0;
    }
    
    #elements-content {
        flex-direction: column;
    }
}

@media (max-width: 330px) {
    #content {
        padding: 0 10px;
    }
}

@media (max-width: 290px) {
    #sumir {
        display: none;
    }
}