
/* Genérico */

.btn {
    /* tamanho */
    padding: 5px 10px;

    /* style */
    background-color: var(--background-btn);
    border: solid 2px var(--border-btn);
    border-radius: 30px;
    color: var(--font-secondary);
    transition: 0.3s;
}

.text-secondary {
    /* style */
    color: var(--font-secondary);
}

/* Container */
#container {
    /* tamanho */
    margin: 20px 0 0 15px;

    /* disposição */
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px 0px;

    grid-template-areas: 
    "main article"
    "extend extend";
}

#extend-container {
    
    /* disposição */
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr auto;
    gap: 20px;

    grid-template-areas: 
    "section aside"
    "section footer";
}

/* container */
main{grid-area: main;}
article{grid-area: article;}
#extend-container{grid-area: extend;}

/* extend-container */
section{grid-area: section;}
aside{grid-area: aside;}
footer{grid-area: footer;}

/* Introdução */

#introducao {
    /* tamanho */
    padding: 10px 10px 1px 10px;

    /* disposição */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Nav */
    
nav {
    /* tamaho */
    padding-right: min(30px, 5vw);

    /* disposição */
    display: flex;
    align-items: flex-end;
    gap: 10px;
}

#home {
    /* style */
    color: var(--color-action);
}

.link-nav {
    transition: 0.3s;
}

/* Header */

header {
    /* disposição */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1px;
}

/* Main */

main {
    /* dissposição */
    display: grid;
    grid-template-columns: auto 2fr;
    align-items: center;
    gap: 20px;

    grid-template-areas: 
    "img conteudo-principal";

}

#main-content{
    /* disposição */
    display: flex;
    flex-direction: column;
    gap: 15px;

    /* area */
    grid-area: conteudo-principal;
}

main > img {
    /* Style */
    box-shadow: 
    0 0 5px cyan,
    0 0 10px cyan,
    0 0 15px cyan;
    
    /* tamanho */
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 20%;
    margin-bottom: 150px;

    /* disposição */
    display: block;

    /* area */
    grid-area: img;
}

#main-btns {
    /* disposição */
    display: flex;
    justify-content: flex-start;
    gap: min(20px, 5vw);
}

/* Article */

article {
    /* tamanho */
    padding-top: 5vh;

    /* disposição */
    display: flex;
    flex-direction: column;
}

article > h3{
    /* tamanho */
    margin-bottom: 2vh;
}

article h4 {
    /* tamanho */
    margin-bottom: 1vh;
}

.layout-icons {
    /* disposição */
    display: grid;
    gap: 2vh 0px;

    grid-template-areas: 
    "lower lower"
    "web web"
    "data tool";
}

/* layout-icons */
#lower-level {grid-area: lower;}
#web {grid-area: web;}  
#data {grid-area: data;}
#tools {grid-area: tool;}

.layer-icons > div {
    /* tamanho */
    min-height: 0;
}

.layer-icons {
    /* disposição */
    display: flex;
    gap: 15px;
}

.icon-article {
    /* disposição */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

/* Section */

section {
    /* disposição */
    gap: 40px 0px;
}

section h3 {
    /* tamanho */
    margin-bottom: 20px;
}

#section-about {
    text-align: justify;
}

#list {
    /* style */
    list-style: none;

    /* tamanho */
    padding-left: 20px;
    position: relative;
}

#list li {
    /* tamanho */
    position: relative;
    padding-left: 20px;
    margin-bottom: 40px;
}

#list li::before {
    /* style */
    content: "";
    position: absolute;
    background-color: var(--icon-list);
    border-radius: 50%;

    /* tamanho */
    left: 0;
    top: 5px;
    width: 9px;
    height: 9px;
}

#list li::after {
    /* style */
    content: "";
    position: absolute;
    background-color: var(--icon-list);

    /* tamanho */
    left: 4px;
    top: 14px;
    width: 1px;
    height: calc(100% + 40px);
}

#list li:first-child::before {
    /* style */
    background-color: var(--color-action);

    filter: 
    drop-shadow(0 0 5px cyan)
    drop-shadow(0 0 10px cyan);
    font-weight: 600;
}

#list li:last-child::after {
    /* style */
    display: none; 
}

/* Aside */

aside {
    /* tamanho */
    height: 100%;

    /* disposição */
    display: flex;
    flex-direction: column;
    gap: 15px;
}

aside > h3 > span {
    /* style */
    color: var(--color-action);
    filter: 
    drop-shadow(0 0 5px cyan)
    drop-shadow(0 0 10px cyan);
    font-weight: 600;
}

#aside-content {
    /* tamanho */
    margin: auto 0;
    

    /* disposição */
    display: flex;
    justify-content: center;
    gap: 10px;
}

.aside-elements {
    /* style */
    background-color: var(--color-highlight-I);
    border-radius: 10px;

    /* tamanho */
    padding: 10px;
    width: 15.5rem;

    /* disposição */
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
}

.aside-elements > img {
    /* tamanho */
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.aside-linguage > p {
    /* style */
    background-color: var(--color-highlight-II);
    border-radius: 30px;

    /* tamanho */
    padding: 4px 8px;

    /* disposição */
    display: inline-block;
}

#aside-linguage {
    /* style */
    background-color: var(--color-action);
    border-radius: 5px;

    /* tamanho */
    padding: 5px 10px;
    width: fit-content;
    
    /* disposição */
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.aside-btns {
    /* disposição */
    display: flex;
    gap: 5px;
    align-items: center;
}

.aside-btns > a {
    white-space: nowrap;
}

/* Footer */

footer {
    /* tamanho */
    padding: 15px 10px;
    
    /* disposição */
    display: flex;
    justify-content: flex-start;
    gap: 10px;

    /* style */
    color: var(--font-color);
    border-top: 3px solid var(--color-highlight-I);
}

#footer-content {
    /* disposição */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#iconFooter {
    /* disposição */
    display: flex;
    justify-content: center;
    gap: 10px;
}

@media (min-width: 1300px) {
    body {
        margin: 0 7.5vw;
    }
}

@media (hover: hover) and (pointer: fine) {
    /* Efeito botão desktop */
    .link-nav:hover, .btn:hover{
    color: var(--color-action);
    transform: scale(1.05);
    filter: 
    drop-shadow(0 0 5px cyan)
    drop-shadow(0 0 10px cyan);
    font-weight: 600;
    }

    .btn:hover {
        background-color: var(--border-btn);
        border-color: var(--background-btn);
    }
}

@media (max-width: 1060px) {
    /* Efeito botão Telas Touch-Screen */
    .btn:active {
    transform: scale(0.95);
    opacity: 0.8;
    }
    
    /* container */
    #container {
        margin:  20px 0 0 0;

        /* disposição */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

   #extend-container {
    margin-right: 0;
    /* disposição */
    display: flex;
    flex-direction: column;
    align-items: center;
   }

   /* main */
   main {
    display: flex;
    flex-direction: column;
   }

   main > img {
    margin: 0;
   }

   #main-content{
    align-items: center;
   }

   #main-text {
    text-align: center;
   }

   /* Section */
   section {
    margin: 0px 7rem;

    display: grid;
    grid-template-columns: 1fr auto;
    gap: 10px;
   }

   #section-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
   }

   /* Aside */

   #aside-content {
    /* disposição */
    justify-content: center;
   }

   /* Footer */
   
   footer {
    /* tamanho */
    margin-top: 10px;
    width: 100%;

    /* disposição */
    justify-content: center;
   }
}

@media (max-width: 1060px) and (min-width: 580px) {
    /* article */
   .layout-icons {
    display: flex;
    gap: 40px;
   }
}

@media (max-width: 770px) {
    /* Section */
    section {
        margin: 0 1rem;
    }
    
    /* Aside */
    #aside-content {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 680px) {
    /* Header */
    header{
        margin-bottom: 20px;
    }
    
    /* Nav */
    nav {
        padding: 0;
    }

    /* Introdução */
    #introducao {
        flex-direction: column;
    }

    /* Header */
    header {
        align-items: center;
    }
}

@media (max-width: 580px){
    /* section */
    section {
        /* disposição */
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 400px) {    
    /* Nav */
    #home {
        display: none;
    }
}

@media (max-width: 350px) {    
    main > img {
        width: 80%;
    }
}