/* introducao */
#introducao {
    display: flex;
    justify-content: space-between;
    padding: 40px 20px 0 40px;
    margin-bottom: 20px;
    transition: all 0.3s;
}

header > button {
    background-color: transparent;
    border: none;
}

header h2 {
    text-wrap: nowrap;
    font-size: clamp(30px, 5vw, 40px);
    color: var(--color-action);
}

header img {
    display: none;
    transition: 0.3s;
}

header img.rotate {
    transform: rotate(180deg);
    transition: 0.3s;
}

header img.active {
    display: none;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    font-size: clamp(20px, 3vw, 25px);
    margin-left: 15px;
}



#rodape {
    border-top: 3px solid var(--color-highlight-I);

    margin-top: 20px;
    padding: 10px 0;
    
    display: flex;
    justify-content: center;
}

#rodape > p {
    font-size: clamp(10px, 3vw, 15px);
}

@media (max-width: 550px) {
    #introducao {
        padding-top: 10px;

        flex-direction: column;
        align-items: center;
        
        justify-content: center;
        border-bottom: 3px solid var(--color-highlight-I);
    }

    header > button {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header img {
        display: block;
    }
    
    nav {
        display: none;
    }

    nav.active {
    margin: 20px 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    }

    nav > a {
        margin: 0;
    }
}