
/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: clamp(16px, 1vw, 18px);
}

a {
    text-decoration: none;
    color: inherit;
}

/* Variaveis*/

:root {
    /* cor do corpo */
    --primary-color: #050505;

    /* cor da fonte */
    --font-color: #ECECEC;
    --font-secondary: #757575;

    /* cores de ação */
    --color-action: #00D1FF;
    --action-hover: 0 0 5px rgba(0, 255, 255, 0.8), 0 0 10px rgba(0, 255, 255, 0.6), 0 0 15px rgba(0, 255, 255, 0.4);

    /* cores de destaque */
    --color-highlight-I: #242424;
    --color-highlight-II: #000000;

    /* cores lista */
    --icon-list: #303030;

    /* cores dos botões */
    --background-btn: #252525;
    --border-btn: #3b3b3b;
        
    /* fontes */
    --font-title: 'Roboto', sans-serif;
    --font-all: 'Montserrat Alternates', sans-serif;
}

/* padrão */

/* inverter cores de icones */

.icon {
    filter: invert(100%);
}

body{
    /* Style */
    background-color: var(--primary-color);
    color: var(--font-color);
    font-family: var(--font-all);

    /* Tamanho */
    min-height: 100vh;

    /* Disposição */
    display: flex;
    flex-direction: column;
}

h1, h2, h3, h4, h5, h6 {font-family: var(--font-title);}

h1 { font-size: clamp(2rem, 6vw, 3.8rem); }

h2 { font-size: clamp(1.7rem, 4.5vw, 1.75rem); }

h3 { font-size: clamp(1.25rem, 4vw, 1.5rem); }

h4 { font-size: clamp(1.05rem, 3.5vw, 1.15rem); }

h5 { font-size: clamp(1rem, 3vw, 1.15rem); }

button {
    font-size: inherit;
    color: inherit;
    background-color: var(--primary-color);
    border: none;
}

@media (hover: hover) and (pointer: fine) {
    /* Efeito botão desktop */
    .link-nav:hover, .btn:hover{
    color: var(--color-action);
    transform: scale(1.05);
    filter: 
    drop-shadow(0 0 5px cyan)
    drop-shadow(0 0 10px cyan);
    font-weight: 600;
    }

    .btn:hover {
        background-color: var(--border-btn);
        border-color: var(--background-btn);
    }
}

@media (min-width: 1400px) {
        body{
            width: 1400px;
            margin: auto;
        }
}